h3, img, ul, .animalinformation, .interestingfacts, .description, .card {
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: black;
    margin: 5px;
    padding: 5px;
    color: white;
}

h3 {
    background-color: #107896;
    color: white;
    text-align: center;
    border-spacing: 0;
}

img {
    display:block;
    border-width: 1px;
    margin:auto;
    padding: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul {
    list-style-type: none;
    border-width: 1px;
    background-color: #107896;
}

.card {
    background: #BCA136;
    border-radius: 10px;
    width: 360px;
    box-shadow: 5px 5px 3px 3px gainsboro;
}

.animalinformation {
    border-width: 1px;
}

.interestingfacts {
    font-style: italic;
    border-width: 1px;
    background-color: #107896;
}

.listitem {
    font-weight: bold;
}

.description {
    border-width: 1px;
    background-color: #107896;
}