ul {
    list-style-type: none;
    margin: 0; padding: 0;
}

.card {
    border-style: solid;
    border-color: #DCDCDC;
    border-width: 1px;
    width: 300px;
    padding: 15px;
    -webkit-box-shadow: 5px 5px 3px 0px rgba(220,220,220,0.75);
    -moz-box-shadow: 5px 5px 3px 0px rgba(220,220,220,0.75);
    box-shadow: 5px 5px 3px 0px rgba(220,220,220,0.75);
    border-radius: 15px;
}

.interestingfacts {
    font-style: italic;
}

.listitem {
    font-weight: bold;
}

.description {
    text-align: justify;
}