ul {
    list-style-type: none;
    margin: 0; padding: 0;
}

.card {
    font-family: "Times New Roman", Times, serif;
    background-color: goldenrod;
    border-style: solid;
    border-color: goldenrod;
    border-width: 1px;
    width: 300px;
    padding: 15px;
    box-shadow: 5px 5px 3px 3px rgba(220,220,220,0.75);
    border-radius: 15px;
}

.animalinformation {
    border-style: solid;
    border-width: 1px;
    border-color: #DCDCDC;
    padding: 10px;
    border-radius: 15px;
}

.interestingfacts {
    font-style: italic;
}

.listitem {
    font-weight: bold;
}

.description {
    text-align: justify;
}